@model WebDevFinal.Models.School

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>School</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactPersonNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactPersonNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "School", new { id = Model.idSchool }) |
    @Html.ActionLink("Back to List", "Admin", "Home")
</p>
