@model WebDevFinal.Models.StudentPersonal

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student's Personal Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.grade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prevSchool, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prevSchool, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prevSchool, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.currentlyStudying, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <select class="list-box tri-state" id="currentlyStudying" name="currentlyStudying" onchange="test()">
                        <option selected="selected" value="">Not Set</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="currentlyStudying" data-valmsg-replace="true"></span>
                </div>
                @** <div class="checkbox">
                        @Html.EditorFor(model => model.currentlyStudying)
                        @Html.ValidationMessageFor(model => model.currentlyStudying, "", new { @class = "text-danger" })
                    </div>@**@
            </div>
        </div>
        @*
            <div class="form-group-hide" id="nxtsch">
                @Html.LabelFor(model => model.nextSchool, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nextSchool, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nextSchool, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group-hide" id="nxtsch">
            <label class="control-label col-md-2" for="nextSchool">nextSchool</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="nextSchool1" name="nextSchool" type="text" style="visibility:hidden">
                <span class="field-validation-valid text-danger" data-valmsg-for="nextSchool" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>
    function test()
    {


        if (document.getElementById('currentlyStudying').value == 'false')
        {


            document.getElementById('nextSchool1').style.visibility = 'visible';
        }
        else
            (document.getElementById('nextSchool1').style.visibility = 'hidden')
    }
</script>